.footer {
  background-color: black;
  width: 100%;
  height: 150px;
  bottom: 0;
  position: relative;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  .imageLogo {
    border: 1px solid red;
    width: 90px;
    height: 30px;
    align-items: center;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .descriptive {
    margin-top: 25px;
    font-size: 15px;
  }
}
